@font-face {
    font-family: 'BonnetGrotesqueNr';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-weight: 400;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 1 !important;
}

.mycontainer {
    max-width: min(133vmin, 125vmax);
}

.ffnav {
    font-size: min(2vmin, 3vmax);
}

.ffJOKS {
    font-size: min(8vmin, 15vmax);
    font-family: "Pathway Gothic One", sans-serif;
}

.ffTRANS {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: min(16vmin, 20vmax);
}

.ffFOOT {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: min(15.8vmin, 25vmax);
}

.ffABOUT {
    padding: min(2.3vmin, 3vmax) min(7vmin, 9vmax);
    font-size: min(2.2vmin, 3vmax);
}

.text-border {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}